@import './base.css';

.btn-primary button {
  background-color: #ff8a00;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.btn-primary button:hover {
  background-color: #ff8a00;
  color: #fff;
}
.btn-primary button:focus {
  outline: none;
}
.view-container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 80%;
  background-color: white;
}
.view-content-left {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.view-content-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e0e0e0;
}

.detail-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem;
  width: 100%;
}
.detail-container h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #ff8a00;
}
/*Buatkan jika form delevery detail jika pc col-6 sedangkan mobile col-12 menggunakan  */
/*Buatkan baris kebawah 3 dulu baru ke samping */
.form-delivery-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.summary-form-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  height: 100%;
}
.summary-form-container h1 {
  font-size: 1.5rem;
  font-weight: 500;

  color: #ff8a00;
}

@media screen and (max-width: 768px) {
  .form-delivery-detail {
    grid-template-columns: repeat(1, 1fr);
  }
  .view-container {
    flex-direction: column;
    margin-top: 10px;
  }
  .view-content-left {
    width: 100%;
  }
  .view-content-right {
    width: 100%;
  }
}